services:
  mongo:
    image: mongo:5.0.2
    restart: 'unless-stopped'
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb_ts_toolkit:/data/db

  redis:
    image: redis:latest
    ports:
      - 6380:6379
    volumes:
      - redis_ts_toolkit:/data

volumes:
  mongodb_ts_toolkit:
  redis_ts_toolkit:
