<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shipping Update</title>
  </head>
  <body>
    <div>
      <h1>Hi <%= name %>,</h1>
      <p>
        Your account has been created, Please set your password by visiting the
        link: <%= passwordSetLink %>
      </p>

      <p>Best regards,<br />CityLink</p>
    </div>
  </body>
</html>
