<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shipping Update</title>
  </head>
  <body>
    <div>
      <h1>Hi <%= name %>,</h1>
      <p>
        Your shipment with tracking number <%= trackingNumber %> and carrier <%=
        carrier %> has been updated:
      </p>
      <p><strong>Status:</strong> <%= status %></p>
      <p>Thank you for using our shipping service.</p>
      <p>Best regards,<br />Fratezone</p>
    </div>
  </body>
</html>
